.if {
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    gap: 0;
    grid-template-areas:
        "l i r"
        "l i r"
        "desc desc desc";
    position: relative;
}

.if .bg {
    grid-area: i;
    width: 100%;
    object-fit: cover;
    height: auto;
    margin: 10px;
}

.if .left,
.if .right {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    writing-mode: vertical-rl;
    text-align: start;
    padding: 10px 0 0 0;
    position: absolute;
}

.if .left {
    grid-area: l;
}

.if .right {
    grid-area: r;
}

.loading#chr .if .left,
.loading#chr .if .right {
    font-size: 1.5rem;
}

.if .descC {
    grid-area: desc;
    /* height: 80px; */
    display: block;
    text-align: left;
    margin: 0 auto;
    overflow: auto;
}

.if .descC #desc {
    margin-left: 1rem;
    font-size: 1rem;
    color: white;
    text-overflow: ellipsis;
    font-weight: bolder;
}

.loading.t1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loading.t1 .if {
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "l i r"
        "l i r";
    position: relative;
    height: 90%;
}

.loading.t1#chr .if .right {
    justify-self: baseline;
}

.loading.t1 .if .bg {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    grid-area: unset;
}

.loading.t1 .descC {
    position: relative;
    width: 100%;
    grid-area: i;
}

.loading.t1 #desc {
    position: absolute;
    right: 0;
    writing-mode: vertical-rl;
}

/* mob is Portrait? */
@media (min-width: 320px) and (max-width: 480px) {
    .loading.t1#chr .if .bg {
        max-width: 250px;
        margin: 0;
    }

    .loading.t1 .if #desc {
        margin: 1.5rem 0 0 0;
        font-size: 1.2rem;
    }
}

/* mob is Landscape? */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .if .left,
    .if .right {
        font-size: 1.5rem;
    }

    .if .bg {
        width: 50%;
    }

    

    .if .descC #desc {
        font-size: 1rem;
    }

    .loading.t1 .if {
        height: 70%;
    }

    .loading.t1 .if .bg {
        width: 20%;
    }

    .loading.t1 .if #desc {
        margin: 1rem 3rem 0 0;
    }
}

@media (min-width: 1025px) {
    .if {
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
    }

    .if .left,
    .if .right {
        font-size: 1.8rem;
    }

    .if .bg {
        width: 80%;
    }

    .loading#chr .if .bg {
        width: 60%;
        max-width: 400px;
    }

    .if .descC #desc {
        font-size: 1.3rem;
    }

    .loading.t1 #desc {
        font-size: 1.5rem;
        margin: 3rem 5rem 0 0;
    }

    .loading.t1#chr .if .left,
    .loading.t1#chr .if .right {
        padding: 2rem 0 0 0;
    }

}