.meinCover body {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading {
    position: relative;
    display: block;
    height: 100%;
    /* flex-direction: column; */
    /* #2596be */
}

.progress {
    display: block;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.progress #title {
    color: white;
    font-size: 1.2rem;
}

.progress #progress {
    color: white;
    background-color: #4c5b70;
}

/* background: */
progress::-webkit-progress-bar {
    background-color: #4c5b70;
}

/* value: */
progress::-webkit-progress-value {
    background-color: white !important;
}

progress::-moz-progress-bar {
    background-color: white !important;
}